.seccion-armas{
    height:1500px;
    background-image: url(../img/fondohdpistola.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pistola{
    margin-top:2rem;
}

.text-pistolas{
    font-size: 3rem;
    color:black;
    margin-top:1rem;

}
